# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
vue_weixin/project.config.json
vue_weixin/app.json
vue_weixin/gong/gong.wxml
